<div >
   <h2 class="oe_slogan"><font color='#3b5998'><u>POS Product Pack</u></font></h2>
</div>
<div id="content">
    
    <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs" >
        <li  class="active"><a href="#website" data-toggle="tab">Point Of Sale View</a></li>
        <li ><a href="#working" data-toggle="tab">Internal Working</a></li>
    </ul>
   
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="website"> 
            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h2 class="oe_slogan">POS View</h2>
                    </div>
                     <div class="col-md-12" style="padding-left:0px;">
                            <img class="img-border img-responsive thumbnail" src="pack_product.png">
                    </div>
                </div>
            </section>
             <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_slogan">
                        <h2>Categorize product packs to view in a session of point of sale</h2>
                    </div>
                    <div class="col-md-12" style="padding-left:0px;">
                            <img class="img-border img-responsive thumbnail" src="pack_product_category.png">
                    </div>
                    <div class="col-md-12" style="padding-left:0px;">
                            <img class="img-border img-responsive thumbnail" src="category_product.png">
                    </div>
                </div>
            </section>
            
            <section class="oe_container">
            <div class="oe_row oe_spaced">
                    <div class="oe_slogan">
                        <h2>Product pack can be identified easily on the home page of POS</h2>
                    </div>
                     <div class="col-md-12" style="padding-left:0px;">
                        <img class="img-border img-responsive thumbnail" src="pack_product.png">
                    </div>
                </div>            
            </section>
            <section class="oe_container">
            <div class="oe_row oe_spaced">
                    <div class="oe_slogan">
                        <h2>Detailed view of Products available in product pack</h2>
                    </div>
                     <div class="col-md-12" style="padding-left:0px;">
                        <img class="img-border img-responsive thumbnail" src="detail_product.png">
                    </div>
                </div>            
            </section>
            <section class="oe_container">
            <div class="oe_row oe_spaced">
                    <div class="oe_slogan">
                        <h2>In invoice, display the amount saved from purchase of a product pack</h2>
                    </div>
                     <div class="col-md-12" style="padding-left:0px;">
                        <img class="img-border img-responsive thumbnail" src="receipt.png">
                    </div>
                </div>            
            </section>
        </div>
        <div class="tab-pane" id="working">
               <center><h3 class="oe_slogan"><font color='#616161'>Basic Features</font></h3></center>
                <div class="oe_span12">
                    <ul>
                    


    <li>In point of sale, you can create a separate category for product packs.</li>
    <li>Products packs can be identified easily on the home page.</li>
    <li>Multiple products consist of any number of units can be put together in a product pack.</li>
    <li>Invoice will have the information about the amount saved on purchase of a product packs.</li>


                    <ul>  
                </div>
                    
            <section class="oe_container">           
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h2 class="oe_slogan">Product pack settings for point of sale</h2>
                    </div>
                    <div class="col-md-12" style="padding-left:0px;">
                        <img class="img-border img-responsive thumbnail" src="backend.png">
                    </div>
                </div>
            </section>

            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h2 class="oe_slogan">Order generated on the back end of the POS</h2>
                    </div>
                    <div class="col-md-12" style="padding-left:0px;">
                        <img class="img-border img-responsive thumbnail" src="order.png">
                      
                    </div>
                </div>
            </section>

            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h2 class="oe_slogan">Effect of pack Stock management in Point of sale</h2>
                    </div>
                    <div class="col-md-12" style="padding-left:0px;">
                        <img class="img-border img-responsive thumbnail" src="picking.png">
                    </div>
                </div>
            </section>
            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h2 class="oe_slogan">Detailed view of picking of an order generated</h2>
                    </div>
                    <div class="oe_span12">
                       <div class="col-md-12" style="padding-left:0px;">
                        <img class="img-border img-responsive thumbnail"  src="picking_effect.png">
                    </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
 
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>
