#body {
  font-family: Calibri, Candara, Arial, sans-serif;
}
.square_full {
    border: solid;
    border-width: 1px;
    border-color: #666666;
    text-indent: 3px;
}
.square_top_bottom {
    border-top: solid;
    border-bottom: solid;
    border-color: #666666;
    border-width: 1px;
    font-weight: bold;
    margin-left: 5px;
}

.square_bottom_dash {
    border-bottom: dashed;
    border-width: 1px;
    border-color: #666666;
}
.line_top {
    border-top: solid;
    border-color: #666666;
    border-width: 1px;
}
.line_bottom {
    border-bottom: solid;
    border-color: #666666;
    border-width: 1px;
}

.line_bottom_grey {
    border-bottom: solid;
    border-color: #bebebe;
    border-width: 1px;
}

.line_left {
    border-left: solid;
    border-color: #666666;
    border-width: 1px;
}
.line_right {
    border-right: solid;
    border-color: #666666;
    border-width: 1px;
}

.square_checklist {
    width: 25px;
    height: 10px;
    border: solid;
    border-width: 1px;
    border-color: #666666;
}

.text_bold {
    font-weight: bold ;
}

.text_italic {
    font-style: italic ;
}
.square_side_right {
    border-right: solid;
    border-color: #b5b5b5;
    border-width: 1px;
    margin-right: 5px;
}

.pb_text_right {
    text-align: right;
    margin-right: 5px;

}

.pb_text_left {
    text-align: left;
    margin-left: 5px;
    text-indent: 3px;
}

.pb_text_center {
    text-align: center;
}

.pb_header_height {
    height: 30px;
}

.pb_font_8 {
    font-size: 11px;
}

.pb_font_10 {
    font-size: 10px;
}
.pb_font_12 {
    font-size: 12px;
}

.pb_bg_blue {
    background-color: #bcfff7;
}

.pb_bg_blue2 {
    background-color: #d3fffd;
    font-weight: bold;
}

.pb_sub_header {
    font-weight: bold;
    background-color: #eedc94;
}
